In [1]:
!pip install git+https://github.com/ozgur/python-firebase #the latest version of python-firebase didn't make it to PiPI

Collecting git+https://github.com/ozgur/python-firebase
  Cloning https://github.com/ozgur/python-firebase to /private/var/folders/f5/3gmh6p997t3_r41bh3fnwx0h0000gn/T/pip-req-build-smypsecn
Requirement already satisfied: requests>=1.1.0 in /opt/anaconda3/lib/python3.8/site-packages (from python-firebase==1.2.1) (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in /opt/anaconda3/lib/python3.8/site-packages (from requests>=1.1.0->python-firebase==1.2.1) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/anaconda3/lib/python3.8/site-packages (from requests>=1.1.0->python-firebase==1.2.1) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from requests>=1.1.0->python-firebase==1.2.1) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.8/site-packages (from requests>=1.1.0->python-firebase==1.2.1) (1.26.3)
Building wheels for collected packages: python-firebase
  Building wheel for python-firebase (setup.py) ... done
  Created wheel for python-firebase: filename=python_firebase-1.2.1-py3-none-any.whl size=12533 sha256=c9509740c3d68920c9ebcc2a12ed54f8d658fdff31e7bebf4770f1e30ce78f35
  Stored in directory: /private/var/folders/f5/3gmh6p997t3_r41bh3fnwx0h0000gn/T/pip-ephem-wheel-cache-aizeh5lm/wheels/17/81/d0/4fdceaba8d3525f117fa5d3662b2c5a41ebe62411529ffa76b
Successfully built python-firebase
Installing collected packages: python-firebase
Successfully installed python-firebase-1.2.1

In [5]:
import pandas as pd
from firebase import firebase
my_firebase = firebase.FirebaseApplication('https://test-random-305921-default-rtdb.firebaseio.com/', None)

# Get trades

In [24]:
test_trades=my_firebase.get('/trades', '') #will get you the data in json format
df_trades = pd.DataFrame(test_trades).T.reset_index(drop=True) #will get you the data in dataframe format
df_trades = df_trades[['time','bid','ask','price','size']]
df_trades.head()

                          time       bid       ask     price        size
0  2021-03-02T18:55:38.193304Z  47672.34  47672.35  47672.34  0.00337311
1   2021-03-02T18:55:41.11686Z  47672.34  47672.35  47672.34  0.00107518
2  2021-03-02T18:55:43.994527Z  47672.34  47672.35  47672.34  0.01470698
3  2021-03-02T18:55:46.999105Z  47688.67  47688.68  47688.68  0.00038639
4  2021-03-02T18:55:48.583173Z  47699.61  47701.99  47698.63  0.00058462

# Get Order Book

In [13]:
test_order_book=my_firebase.get('/order_book', '')
#pd.DataFrame(test_order_book).T.reset_index(drop=True)

In [19]:
def dataframe_order_book(all):
  #data postprocessing
  df=pd.DataFrame(all).T.reset_index(drop=True)
  df['bids']=pd.DataFrame(df['bids'].to_list())
  df[['bid_price','bid_volume', 'bid_n_order']]=pd.DataFrame(df['bids'].to_list())
  df['asks']=pd.DataFrame(df['asks'].to_list())
  df[['ask_price','ask_volume', 'ask_n_order']]=pd.DataFrame(df['asks'].to_list())
  df.drop('bids', inplace=True, axis=1)
  df.drop('asks', inplace=True, axis=1)
  df.drop('sequence',inplace=True, axis=1)
  df.drop_duplicates()
  return df

In [20]:
dataframe_order_book(test_order_book).head()

,time,bid_price,bid_volume,bid_n_order,ask_price,ask_volume,ask_n_order
0,2021-03-02T18:55:39.965773,47672.34,0.95242759,20,47672.35,0.19771833,6
1,2021-03-02T18:55:42.653463,47672.34,1.0414105,23,47672.35,0.16779153,5
2,2021-03-02T18:55:45.011274,47672.34,1.03025255,24,47672.35,0.16779153,5
3,2021-03-02T18:55:47.441547,47688.67,1.70408471,11,47688.68,0.0016865,2
4,2021-03-02T18:55:49.818212,47709.38,0.02179303,1,47709.39,0.02607892,1