- explore the coinbase pro API directly with requests library
- get familiar with requests

# About requests

- post requests 
- get requests

# About the [coinbase pro API](https://docs.pro.coinbase.com/)

- __REST API__: 
    * The REST API has endpoints for account and order management as well as public market data.
    * REST API ENDPOINT URL
https://api.pro.coinbase.com



- __FIX API__: 
    * FIX (Financial Information eXchange) is a standard protocol which can be used to enter orders, submit cancel requests, and receive fills. Users of the FIX API will typically have existing software using FIX for order management. Users who are not familiar with FIX should first consider using the REST API.
    * FIX API ENDPOINT URL tcp+ssl://fix.pro.coinbase.com:4198

- **Websocket feed**: 
    * The websocket feed provides real-time market data updates for orders and trades.
    * wss://ws-feed.pro.coinbase.com

In [10]:
import requests
import pandas as pd

In [11]:
r = requests.get('https://api.pro.coinbase.com/products')

In [12]:
pd.DataFrame(r.json())

,id,base_currency,quote_currency,base_min_size,base_max_size,quote_increment,base_increment,display_name,min_market_funds,max_market_funds,margin_enabled,post_only,limit_only,cancel_only,trading_disabled,status,status_message
0,ETH-BTC,ETH,BTC,0.00100000,2400.00000000,0.00001000,0.00000001,ETH/BTC,0.001,80,False,False,False,False,False,online,
1,KNC-USD,KNC,USD,1.00000000,500000.00000000,0.00010000,0.10000000,KNC/USD,1,100000,False,False,False,False,False,online,
2,BNT-BTC,BNT,BTC,1.00000000,95000.00000000,0.00000001,1.00000000,BNT/BTC,0.0001,5.1,False,False,False,False,False,online,
3,LINK-ETH,LINK,ETH,0.10000000,90000.00000000,0.00000001,0.01000000,LINK/ETH,0.01,400,False,False,False,False,False,online,
4,BCH-EUR,BCH,EUR,0.01000000,100.00000000,0.01000000,0.00000001,BCH/EUR,10,300000,False,False,False,False,False,online,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,LTC-USD,LTC,USD,0.01000000,4000.00000000,0.01000000,0.00000001,LTC/USD,10,250000,False,False,False,False,False,online,
121,GRT-GBP,GRT,GBP,10.00000000,2500000.00000000,0.00010000,0.01000000,GRT/GBP,10.0,82000,False,False,False,False,False,online,
122,BAND-USD,BAND,USD,0.10000000,18000.00000000,0.00010000,0.01000000,BAND/USD,1.0,100000,False,False,False,False,False,online,
123,OMG-EUR,OMG,EUR,1.00000000,500000.00000000,0.00010000,0.10000000,OMG/EUR,1,100000,False,False,False,False,False,online,
124,MKR-BTC,MKR,BTC,0.00100000,240.00000000,0.00001000,0.00000100,MKR/BTC,0.0001,11,False,False,False,False,False,online,

In [18]:
params={'start':'2021-01-25'
        , 'end':'2021-01-26'
       , 'granularity':3600}
r = requests.get('https://api.pro.coinbase.com/products/BTC-USD/candles', params=params )

In [21]:
r.json()

[[1611619200, 31692.82, 32680, 32260.52, 32493.71, 1507.28254214],
 [1611615600, 32208.88, 32650, 32455.44, 32261.87, 1117.07876406],
 [1611612000, 31920.8, 32730.07, 32713.9, 32460.56, 1129.94145384],
 [1611608400, 32164.68, 33445.9, 33445.9, 32713.9, 1778.38714393],
 [1611604800, 33013.36, 33445.9, 33412.37, 33445.9, 1247.43816609],
 [1611601200, 33364.92, 33772.33, 33648.78, 33412.38, 835.44713095],
 [1611597600, 33500.1, 34008.36, 33760.63, 33646.65, 880.38857858],
 [1611594000, 33675.1, 34261.48, 33898, 33759.78, 1119.01245404],
 [1611590400, 33600, 34618.34, 34460.3, 33898, 2136.92445029],
 [1611586800, 34202.03, 34583.08, 34462.96, 34450.85, 995.91212952],
 [1611583200, 34362.06, 34888, 34578.24, 34462.96, 1303.99361461],
 [1611579600, 34135.42, 34699.76, 34201.43, 34574.39, 1350.90243795],
 [1611576000, 33063.13, 34355.78, 33188.21, 34199.21, 1066.50010456],
 [1611572400, 33054.12, 33348.75, 33134.87, 33188.21, 232.6120685],
 [1611568800, 32789, 33173.27, 32990, 33137.5, 277.55494652],
 [1611565200, 32888, 33549.82, 33468.33, 32994.16, 393.0158389],
 [1611561600, 33224.18, 33507.8, 33375.89, 33456.87, 234.19728275],
 [1611558000, 33080, 33566.87, 33500, 33376.25, 359.17963549],
 [1611554400, 33178.41, 33566.33, 33359.1, 33499.99, 412.17442783],
 [1611550800, 33218.04, 33471.34, 33398.06, 33356.55, 595.2167148],
 [1611547200, 33333, 33793.43, 33571.99, 33393.8, 1246.71720941],
 [1611543600, 32603.99, 33700, 32797.42, 33571.99, 1453.88581105],
 [1611540000, 32672.86, 33000, 32881.96, 32791.52, 788.97270883],
 [1611536400, 32434.85, 32911, 32596.42, 32877.45, 817.78113275],
 [1611532800, 32210.17, 32850, 32293.18, 32596.42, 1272.42872864]]

In [26]:
r = requests.get('https://api.pro.coinbase.com/products/BTC-USD/trades', params=params)

In [27]:
pd.DataFrame(r.json())

                        time   trade_id           price        size  side
0   2021-02-27T20:01:17.869Z  139133595  47493.29000000  0.00036091   buy
1   2021-02-27T20:01:17.019Z  139133594  47493.30000000  0.01938034  sell
2   2021-02-27T20:01:17.019Z  139133593  47493.30000000  0.02186743  sell
3   2021-02-27T20:01:16.243Z  139133592  47493.29000000  0.00100000   buy
4   2021-02-27T20:01:16.192Z  139133591  47493.29000000  0.00094500   buy
..                       ...        ...             ...         ...   ...
95  2021-02-27T20:01:01.208Z  139133500  47537.87000000  0.03028007  sell
96  2021-02-27T20:01:01.208Z  139133499  47536.73000000  0.00100000  sell
97  2021-02-27T20:01:01.208Z  139133498  47536.73000000  0.00019506  sell
98  2021-02-27T20:01:01.136Z  139133497  47532.00000000  0.00010466  sell
99   2021-02-27T20:01:01.01Z  139133496  47531.99000000  0.10896126   buy

[100 rows x 5 columns]

# Websocket

NameError: name 'self' is not defined

# Test Loading to Firebase

In [45]:
!pip install requests 
!pip install python-firebase

Requirement already satisfied: requests in /Users/Armand/anaconda3/lib/python3.6/site-packages (2.13.0)
Requirement already satisfied: python-firebase in /Users/Armand/anaconda3/lib/python3.6/site-packages (1.2)
Requirement already satisfied: requests>=1.1.0 in /Users/Armand/anaconda3/lib/python3.6/site-packages (from python-firebase) (2.13.0)

In [77]:
from firebase import firebase

In [195]:
my_firebase = firebase.FirebaseApplication('https://test-random-305921-default-rtdb.firebaseio.com/', None)
my_firebase.delete('/trades', '')

In [181]:
result = my_firebase.get('/users', None)
print(result)

None

In [199]:
result = my_firebase.get('/trades', None)
pd.DataFrame(result).T.shape

(0, 0)

In [96]:
new_user='Armand Sauzay'
result = my_firebase.post('/users', new_user)
print(result)
my_firebase.get('/users', '')

{'name': '-MUltTw97D29xF1-FdbW'}

{'-MUltTw97D29xF1-FdbW': 'Armand Sauzay'}

In [102]:
my_firebase.delete('/users', '')

In [111]:
datas=[{'ask': '1527.13',
 'bid': '1526.51',
 'price': '1527.33',
 'size': '0.03129026',
 'time': '2021-03-01T19:09:39.714226Z',
 'trade_id': 89783839,
 'volume': '314003.92976961'}
 , 
 {'ask': '1527.13',
 'bid': '1526.51',
 'price': '1527.33',
 'size': '0.03129026',
 'time': '2021-03-01T19:09:39.714226Z',
 'trade_id': 89783839,
 'volume': '314003.92976961'}
]

In [112]:
data={'ask': '1527.13',
 'bid': '1526.51',
 'price': '1527.33',
 'size': '0.03129026',
 'time': '2021-03-01T19:09:39.714226Z',
 'trade_id': 89783839,
 'volume': '314003.92976961'}

In [122]:
result=my_firebase.post('/trades', datas)
print(result)

{'name': '-MUluQWBqsUwJTcXzztF'}

In [114]:
my_firebase.delete('/trades', '')

In [139]:
pd.DataFrame(my_firebase.get('/trades', '')).T.reset_index(drop=True)

,ask,bid,price,size,time,trade_id,volume
0,47672.35,47672.34,47672.34,0.00337311,2021-03-02T18:55:38.193304Z,140396236,18263.23675841
1,47672.35,47672.34,47672.34,0.00107518,2021-03-02T18:55:41.11686Z,140396244,18263.23675841
2,47672.35,47672.34,47672.34,0.01470698,2021-03-02T18:55:43.994527Z,140396245,18263.23675841
3,47688.68,47688.67,47688.68,0.00038639,2021-03-02T18:55:46.999105Z,140396260,18263.23675841
4,47701.99,47699.61,47698.63,0.00058462,2021-03-02T18:55:48.583173Z,140396268,18263.23675841
...,...,...,...,...,...,...,...
443,47384.54,47377.65,47377.3,0.02396846,2021-03-02T19:13:45.169496Z,140402769,17589.90929173
444,47377.93,47371.67,47376.98,0.00063277,2021-03-02T19:13:48.463949Z,140402782,17589.90929173
445,47383.45,47383.44,47386.48,0.01930358,2021-03-02T19:13:50.913865Z,140402789,17589.90929173
446,47380.69,47380.68,47380.69,0.00038885,2021-03-02T19:13:54.016019Z,140402803,17589.90929173
447,47380.69,47380.68,47380.69,0.00088417,2021-03-02T19:13:56.111257Z,140402812,17589.90929173

In [254]:
def dataframe_order_book(all):
  #data postprocessing
  df=pd.DataFrame(test).T.reset_index(drop=True)
  df['bids']=pd.DataFrame(df['bids'].to_list())
  df[['bid_price','bid_vol', 'bid_n_order']]=pd.DataFrame(df['bids'].to_list())
  df['asks']=pd.DataFrame(df['asks'].to_list())
  df[['ask_price','ask_vol', 'ask_n_order']]=pd.DataFrame(df['asks'].to_list())
  df.drop('bids', inplace=True, axis=1)
  df.drop('asks', inplace=True, axis=1)
  df.drop_duplicates()
  return df

In [255]:
import time

In [278]:
test=my_firebase.delete('/trades', '')
print(test)

None

In [307]:
my_firebase = firebase.FirebaseApplication('https://test-random-305921-default-rtdb.firebaseio.com/', None)
test=my_firebase.get('/order_book', '')
print(pd.DataFrame(test).T.reset_index(drop=True).shape)
time.sleep(60)
test=my_firebase.get('/order_book', '')
print(pd.DataFrame(test).T.reset_index(drop=True).shape)

(32372, 4)
(32401, 4)

In [297]:
df=pd.DataFrame(test).T.reset_index(drop=True)
df

,asks,bids,sequence,time
0,"[[50950.05, 0.28, 1]]","[[50944.57, 0.01606, 1]]",22250329372,2021-03-03T23:26:40.402086
1,"[[50950.65, 0.18665277, 1]]","[[50944.33, 0.01606, 1]]",22250330782,2021-03-03T23:26:42.564591
2,"[[50951.08, 0.21794412, 1]]","[[50951.07, 1.49354662, 8]]",22250331601,2021-03-03T23:26:44.860096
3,"[[50951.08, 0.3726966, 2]]","[[50951.07, 1.14525776, 6]]",22250331985,2021-03-03T23:26:46.974367
4,"[[50960.56, 0.00169816, 1]]","[[50952.03, 0.28, 1]]",22250332698,2021-03-03T23:26:49.214095
...,...,...,...,...
693,"[[50667.21, 0.03254, 2]]","[[50653.43, 0.01606, 1]]",22251126980,2021-03-03T23:51:39.132511
694,"[[50665.84, 0.01606, 1]]","[[50656.23, 0.01606, 1]]",22251128870,2021-03-03T23:51:41.284053
695,"[[50661.79, 0.07340966, 3]]","[[50657.65, 0.28, 1]]",22251130716,2021-03-03T23:51:43.452299
696,"[[50650.46, 0.51571114, 5]]","[[50650.45, 0.28, 1]]",22251131738,2021-03-03T23:51:45.605952
697,"[[50650.46, 4.61647661, 13]]","[[50650.45, 0.01164193, 3]]",22251132436,2021-03-03T23:51:47.754522

In [286]:
df['time'].head()

0    2021-03-03T23:26:40.402086
1    2021-03-03T23:26:42.564591
2    2021-03-03T23:26:44.860096
3    2021-03-03T23:26:46.974367
4    2021-03-03T23:26:49.214095
Name: time, dtype: object

In [291]:
time_diff=pd.to_datetime(df['time'])-pd.to_datetime(df['time'].shift(1))

In [295]:
min(time_diff[1:])

Timedelta('0 days 00:00:02.101425')

In [160]:
dataframe_order_book(test)

,sequence,time,bid_price,bid_vol,bid_n_order,ask_price,ask_vol,ask_n_order
0,22195286146,2021-03-02T18:55:39.965773,47672.34,0.95242759,20,47672.35,0.19771833,6
1,22195286861,2021-03-02T18:55:42.653463,47672.34,1.0414105,23,47672.35,0.16779153,5
2,22195287437,2021-03-02T18:55:45.011274,47672.34,1.03025255,24,47672.35,0.16779153,5
3,22195289309,2021-03-02T18:55:47.441547,47688.67,1.70408471,11,47688.68,0.0016865,2
4,22195291214,2021-03-02T18:55:49.818212,47709.38,0.02179303,1,47709.39,0.02607892,1
...,...,...,...,...,...,...,...,...
503,22196168597,2021-03-02T19:16:13.112805,47163.57,0.06194854,1,47169.11,0.0226,1
504,22196170798,2021-03-02T19:16:15.518342,47171.59,0.00390162,1,47174.93,0.0226,1
505,22196172431,2021-03-02T19:16:17.900885,47167.48,0.07484052,2,47176,0.00183146,1
506,22196174797,2021-03-02T19:16:20.286881,47181.39,0.42367624,1,47181.4,0.01977949,1
507,22196176938,2021-03-02T19:16:22.755597,47181.86,0.00172669,1,47181.87,1.8345487,7

In [134]:
pd.DataFrame(test).T.reset_index(drop=True)

,asks,bids,sequence,time
0,"[[47672.35, 0.19771833, 6]]","[[47672.34, 0.95242759, 20]]",22195286146,2021-03-02T18:55:39.965773
1,"[[47672.35, 0.16779153, 5]]","[[47672.34, 1.0414105, 23]]",22195286861,2021-03-02T18:55:42.653463
2,"[[47672.35, 0.16779153, 5]]","[[47672.34, 1.03025255, 24]]",22195287437,2021-03-02T18:55:45.011274
3,"[[47688.68, 0.0016865, 2]]","[[47688.67, 1.70408471, 11]]",22195289309,2021-03-02T18:55:47.441547
4,"[[47709.39, 0.02607892, 1]]","[[47709.38, 0.02179303, 1]]",22195291214,2021-03-02T18:55:49.818212
...,...,...,...,...
159,"[[47772.5, 0.25910702, 11]]","[[47772.49, 0.68457928, 3]]",22195507342,2021-03-02T19:02:08.512828
160,"[[47772.5, 0.12499272, 13]]","[[47772.49, 0.76038156, 6]]",22195508327,2021-03-02T19:02:10.918070
161,"[[47772.5, 0.01275652, 4]]","[[47772.49, 1.07157694, 7]]",22195509679,2021-03-02T19:02:13.642124
162,"[[47777.42, 1.78476372, 6]]","[[47777.41, 0.00100857, 1]]",22195512221,2021-03-02T19:02:16.188478
163,"[[47777.42, 5, 1]]","[[47777.41, 0.63173011, 5]]",22195513269,2021-03-02T19:02:18.636274

In [137]:
test_trades=my_firebase.get('/trades', '') #will get you the data in json format
pd.DataFrame(test_trades).T.reset_index(drop=True) #will get you the data in dataframe format

,ask,bid,price,size,time,trade_id,volume
0,47672.35,47672.34,47672.34,0.00337311,2021-03-02T18:55:38.193304Z,140396236,18263.23675841
1,47672.35,47672.34,47672.34,0.00107518,2021-03-02T18:55:41.11686Z,140396244,18263.23675841
2,47672.35,47672.34,47672.34,0.01470698,2021-03-02T18:55:43.994527Z,140396245,18263.23675841
3,47688.68,47688.67,47688.68,0.00038639,2021-03-02T18:55:46.999105Z,140396260,18263.23675841
4,47701.99,47699.61,47698.63,0.00058462,2021-03-02T18:55:48.583173Z,140396268,18263.23675841
...,...,...,...,...,...,...,...
391,47408.97,47400.59,47407.67,0.00056291,2021-03-02T19:11:35.888468Z,140402048,17547.96207839
392,47415.23,47406.92,47424.86,0.00159396,2021-03-02T19:11:39.417376Z,140402055,17547.96207839
393,47427.12,47411.47,47420.85,0.00203803,2021-03-02T19:11:42.132136Z,140402062,17547.96207839
394,47410.08,47410.07,47410.07,0.0013,2021-03-02T19:11:44.056278Z,140402070,17547.96207839
395,47402.21,47402.2,47402.86,0.00648,2021-03-02T19:11:46.081635Z,140402078,17547.96207839